<div class="jumbotron">
  <h1 class="display-4">Seja bem-vindo!</h1>
  <p class="lead">Você está acessando o catálogo de carros da empresaX.</p>
  <hr class="my-4">
  <p>Para acessar o catálogo, clique no botão abaixo: </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/cars" role="button">Carros</a>
  </p>
</div>